html,body {/*  */
  width:100%;
  height:100%;
  margin: 0px;
  padding:0px;
  min-width:320px;
  min-height:568px;
  
}

body{
	display:grid;
	grid-template-rows:1fr 1fr 1fr 0.1fr;
}

a {
	text-decoration: none;
}
a:link, a:visited {
    color: #F2F3F3;
}
a:hover {
    color: red;

}

.one-third {
  margin:0px;
  padding:0px;
  display:grid;
  grid-template-columns: 1fr 1fr;
}

h1{
	height:100%;
	margin: 0px;
	padding: 0px;
}
/*
section#top.one-third:hover{
	background-color:#eef5f5;
}
section#top.one-third:hover{
	background-color:#eef5f5;
}
*/

h1#f1:hover{
	background-color:#eef5f5;
}
h1#f2:hover{
	background-color:#eef5f5;
}
h1#m1:hover{
	background-color:#eef5f5;
}
h1#m2:hover{
	background-color:#eef5f5;
}
h1#op3:hover{
	background-color:#eef5f5;
}
}

section#bot.one-third:hover{
	background-color:#eef5f5;
}


#top{  
  background-color:#EBA8A8;
  text-align: center;
  background-image: url("../../img/forms.png");
  background-repeat: no-repeat;
  background-size:40%;
  background-position-y: center;
  background-position-x: 50%;
}
#mid{
    background-color: #EE8487;
    text-align: center;
    position: relative;
    background-image: url("../../img/placeholder.png");
    background-repeat: no-repeat;
    background-size: 45%;
    background-position-y: center;
	background-position-x:50%;
}

#bot{
text-align: center;
  background-color:#B6A5AC;
  background-image: url("../../img/touch-screen.png");
  background-repeat: no-repeat;
  background-size:60%;
  background-position-y: center;
  background-position-x: 50%;
  
}

@media screen and (max-width:319px){
	h1#op2, h1#op3{
		left:57%;
		font-size:1.2em;
	}
	
	h1#title{
		font-size:1.2em;
		left:-6%;
	}

}

@media screen and (min-width:320px) and (max-width:469px){/*  */
	h1#op2, h1#op3{
		left:60%;
	}
	h1#title{
		left:-4%;
	}
}

@media screen and (min-width: 470px) and (max-width:619px){
	h1#op2, h1#op3{
		left:62.5%;
		
	}
	h1#title{
		left:5.5%;
	}
	
}

@media screen and (min-width: 620px) and (max-width:830px){/*  */
	h1#op2, h1#op3{
		left:65%;
	}
	h1#title{
		left:8%;
	}
}























