*{
	margin: 0;
	padding: 0;
}

::-webkit-scrollbar{
	display: none;
}

html{
	height:100%;
}

body{
	overflow-y: scroll;
	font-family: 'Scope One', serif;

}


/* titol */
h1{
	color:#FF6B6B;
}
.top{
  color: #FF6B6B;
}
.top2{
  color:#ff9c9c;
}


#titol-principal{
	text-align:center;
}

.embolcall{
  width: 100vw;
  height: 100vh;
}



/*antic wrapcontent*/

.gran{
  display: block;
  width: calc(100vw*0.9);
  height: calc(100vh*0.9);
  left: calc(100vw*0.06);
  position: absolute;
  top: calc(100vh*0.05);
}
/* mapa */

#map_form{
  position: absolute;
  height: 100%;
  width:100%;
  border-radius: 10px;
  display:none;
}


#progressbar {
  margin: 0px;
  width: 100%;
  height: 8px;
  position: absolute;
  bottom:8px;
}

form{
  display: block;
}
form#gform.formulari{
  display: block;
}

input{
  width:100%;
}

.embolcall-info{
  height: calc(100vh*0.9);
  overflow: scroll;
}

#llistat{
  display: none;
  min-width: 100%;
  overflow: scroll;
  height: calc(100vh*0.9);
  grid-template-columns: 1fr 1fr;

}

#noms{
  min-width:50%;
  white-space:nowrap;
}
#valors{
  min-width:50%;
}

@media screen and (max-width: 284px){
	#titol-principal{
		font-size: 1em;
	}
}
@media screen and (max-width: 568px) and (min-width: 284px) {
	#titol-principal{
		font-size: 1.1em;
	}

}
@media screen and (max-width: 852px) and (min-width: 568px) {
	#titol-principal{
		font-size: 1.4em;
	}
}
@media screen and (max-width: 1136px) and (min-width: 852px) {
	#titol-principal{
		font-size: 1.7em;
	}
}
