*{
	margin: 0;
	padding: 0;
}

::-webkit-scrollbar{
	display: none;
}

html{
	height:100%;
}

body{
	overflow-y: scroll;
	font-family: 'Scope One', serif;

}


/* titol */
h1{
	color:#FF6B6B;
}

#titol-principal{
	text-align:center;
}

/*antic wrapcontent*/

.gran{
	width: 100%;
}
/* mapa */

#map_form{
	min-height: 150px;
	position: absolute;
	width: calc(100vw * 0.9);
	height: calc(100vh * 0.9);
	left: calc(100vw * 0.05);
	top: calc(100vw * 0.05);
}

iframe{
	position: absolute;
	display: none;
	width: calc(100vw * 0.9);
	height: calc(100vh * 0.9);
	left: calc(100vw * 0.05);
	top: calc(100vw * 0.05);
}


#progressbar {
  margin: 0px;
  width: 100%;
  height: 8px;
  position: absolute;
  bottom:8px;
}


.pin.icon {
  color: #000;
  position: absolute;
  margin-left: 4px;
  margin-top: 2px;
  width: 12px;
  height: 12px;
  border: solid 1px currentColor;
  border-radius: 7px 7px 7px 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.pin.icon:before {
  content: '';
  position: absolute;
  left: 3px;
  top: 3px;
  width: 4px;
  height: 4px;
  border: solid 1px currentColor;
  border-radius: 3px;
}

/* get the styles for both icon*/
@import "http://cssicon.space/css/icons.css";
.arrow-left.icon {
  color: #000;
  position: absolute;
  margin-left: 3px;
  margin-top: 10px;
  width: 16px;
  height: 1px;
  background-color: currentColor;
}
.arrow-left.icon:before {
  content: '';
  position: absolute;
  left: 1px;
  top: -5px;
  width: 10px;
  height: 10px;
  border-top: solid 1px currentColor;
  border-right: solid 1px currentColor;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}
.arrow-right.icon {
  color: #000;
  position: absolute;
  margin-left: 2px;
  margin-top: 10px;
  width: 16px;
  height: 1px;
  background-color: currentColor;
}
.arrow-right.icon:before {
  content: '';
  position: absolute;
  right: 1px;
  top: -5px;
  width: 10px;
  height: 10px;
  border-top: solid 1px currentColor;
  border-right: solid 1px currentColor;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.icon, .icon:before, .icon:after, .icon i, .icon i:before, .icon i:after { 
  transition: all 0.4s ease;
}

@media screen and (max-width: 284px){
	#titol-principal{
		font-size: 1em;
	}
}
@media screen and (max-width: 568px) and (min-width: 284px) {
	#titol-principal{
		font-size: 1.1em;
	}

}
@media screen and (max-width: 852px) and (min-width: 568px) {
	#titol-principal{
		font-size: 1.4em;
	}
}
@media screen and (max-width: 1136px) and (min-width: 852px) {
	#titol-principal{
		font-size: 1.7em;
	}
}
