*{
	margin: 0;
	padding: 0;
}

::-webkit-scrollbar{
	display: none;
}

html{
	height:100%;
}

body{
	overflow-y: hidden;
	overflow-x: hidden;
	position: fixed;
	font-family: 'Scope One', serif;

}


/* titol */
h1{
	color:#FF6B6B;
}
.top{
  color: #FF6B6B;
}
.top2{
  color:#ff9c9c;
}


#titol-principal{
	text-align:center;
}

.embolcall{
  width: 100vw;
  height: 100vh;
}


.gran{
  display: block;
  width: calc(100vw*0.9);
  height: calc(80vh);
  left: calc(100vw*0.06);
  position: absolute;
  top: calc(100vh*0.05);
}


/*antic wrapcontent

.gran{
  display: block;
  width: calc(100vw*0.9);
  height: calc(100vh*0.9);
  left: calc(100vw*0.06);
  position: absolute;
  top: calc(100vh*0.05);
}
*/
/* mapa */

#map_form{
  position: absolute;
  height: 100%;
  width:100%;
  border-radius: 10px;
  display:none;
}


#progressbar {
  margin: 0px;
  width: 100%;
  height: 8px;
  position: absolute;
  bottom:8px;
}

form{
  display: block;
}
form#gform.formulari{
  display: block;
}

input{
  width:100%;
}

.embolcall-info{
  height: calc(80vh);
  overflow: scroll;
}

#llistat{
  display: none;
  min-width: 100%;
  overflow: scroll;
  height: calc(100vh*0.7);
  grid-template-columns: 1fr 1fr;

}

#noms{
  min-width:50%;
  white-space:nowrap;
}
#valors{
  min-width:50%;
}

.llegenda{
  position: absolute;
  font-size: 0.7em;
  width: calc(100vw);
  /*left: calc(100vw*0.5 - 2em);*/
  background-color:#fff6ef;
  text-align: center;
}
#ll1{
  top:calc(100vh*0.75);
}
/*
.infico{
  position: absolute;
  top:calc(100vh*0.77);
  font-size: 0.7em;
}*/
.info{
  position: absolute;
  top:calc(100vh*0.9);
  font-size: 0.7em;
}
.info:before{
  content:"";
  width:32px;
  height:32px;
  top: 16px;
  left:2em;
  position: absolute;
  display: inline-block;
}
#textmapllist.infico{
  left:calc(100vw*0.25 - 2em);
}
#textcomentari.infico{
  left:calc(100vw*0.75 - 5.5em);
}


@media screen and (max-width: 284px){
	#titol-principal{
		font-size: 1em;
	}
}
@media screen and (max-width: 568px) and (min-width: 284px) {
	#titol-principal{
		font-size: 1.1em;
	}

}
@media screen and (max-width: 852px) and (min-width: 568px) {
	#titol-principal{
		font-size: 1.4em;
	}
}
@media screen and (max-width: 1136px) and (min-width: 852px) {
	#titol-principal{
		font-size: 1.7em;
	}
}
