*{
	margin: 0;
	padding: 0;
	
}
::-webkit-scrollbar { 
    display: none; 
}

body{
	min-width: 319px;
	min-height:319px;
	overflow:hidden;
	font-family: 'Scope One', serif;
}

h1{
	color: #FF6B6B
}

#titol-principal{
	text-align:center;
	
}

.embolcall{
	width: 100vw;
	height: 100vh;
}


.five{
    display: block;
    width: calc(100vw);
    height: calc(80vh);
    position: absolute;
    top: calc(100vh*0.05);
    width: calc(100vw*0.9);
    left: calc(100vw*0.05);
}

.five2x {
	height:100%;
	border-radius: 10px;
}

#fiveinfo1{
	min-width: 0;
	max-height: 100%;
	display: none;
	position: absolute;
}

#gform{
  min-width:0;
  width: calc(100vw * 0.6);
  display:none;
  position: absolute;
  background-color: #fff7f2;
  left: calc(100vw * 0.15);
  overflow: scroll;
  top:50%;
  border-radius: 10px;
  transform: translateY(-50%);
}

.fiveinfocontent{
  text-align:center;
  border-radius: 10px;
  overflow-y:scroll;
  min-width: 0px;
  min-height:0px;
  display:grid;
  grid-template-columns: 1fr 1fr;
  height:50%;
  max-height: 50%;
}

#fiveinfo1{
	background-color:#f3f3f3;
	max-height: 100%;
	height: 100%;
  width: 100%;
}

#radios{
	background-color:#ffe4d3;
	white-space: nowrap;
}
#tvs{
	background-color:#e6f5ff;
	white-space: nowrap;
}


ul{
	list-style-type: none;	
}

li.blanc{
  background-color: white;
  color:#FF6B6B;
}

#progressbar {
  margin: 0px;
  width: 100%;
  height: 8px;
  position: absolute;
  bottom: 0px;
}

#pinmap{
	top: calc(100vh*0.8);
  left:calc(100vw*0.25);
}

.llegenda{
  position: absolute;
  font-size: 0.7em;
  width: calc(100vw);
  background-color:#fff6ef;
  text-align: center;
}
#ll1{
  top:calc(100vh*0.75);
}
#ll2{
  top:calc(100vh*0.875);
}

.info{
  font-size: 0.7em;
  width: calc(100%);
  margin:0px;
}

.infico{
  position: absolute;
  top:calc(100vh*0.77);
  font-size: 0.7em;
}
#textmapllist.infico{
  left:calc(100vw*0.25 - 2em);
}
#textcomentari.infico{
  left:calc(100vw*0.75 - 1em);
}



@media screen and (max-width: 284px){
	#titol-principal{
		font-size: 1em;
	}
}
@media screen and (max-width: 568px) and (min-width: 284px) {
	#titol-principal{
		font-size: 0.8em;
	}
	#radios{
		font-size: 0.7em;
	}
	#tvs{
		font-size:0.7em;
	}
	#others{
		font-size:0.7em;
	}

}
@media screen and (max-width: 852px) and (min-width: 568px) {
	#titol-principal{
		font-size: 1.0em;
	}
}
@media screen and (max-width: 1136px) and (min-width: 852px) {
	#titol-principal{
		font-size: 1.4em;
	}
}

@media screen and (orientation: landscape){
  .fiveinfocontent{
    text-align:center;
    border-radius: 10px;
    overflow-y:scroll;
    min-width: 0px;
    min-height:0px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    width:50%;
    max-width: 50%;
    height:100%;
    max-height: 100%;
  }
}



