button{
 width: 100%;
}

li{
	list-style-type: none;
}

.iel{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.na:checked:after{
	 background-color: #86BBD8;
}

.r:checked:after{
	 background-color: #F26419;
}
.o:checked:after{
	 background-color: #F6AE2D;
}

.g:checked:after{
	 background-color: #AEE062;
}


#pinmap{
	top: calc(100vh*0.9);
	left: calc(100vw*0.25);
}
#pinmap2{
	top: calc(100vh*0.9);
	left: calc(100vw*0.5 - 16px);
}
#sigico{
	top: calc(100vh*0.9);
	left: calc(100vw*0.75);
}

#comico{
	top:calc(100vh*0.9);
	left:calc(100vw*0.75);

}

.infico {
    position: absolute;
    top: calc(100vh*0.87);
    font-size: 0.7em;
}

.icon{
	cursor:pointer;
}


.arrow-right.icon {
    position: absolute;
    background: url(../img/next.png);
    background-size: 32px 32px;
    top: 10px;
    left: 10px;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    border-radius: 30px;
}

.arrow-left.icon {
    position: absolute;
    background: url(../img/next.png);
    background-size: 32px 32px;
	transform: rotate(180deg);
    top: 10px;
    left: 10px;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    border-radius: 30px;
}

.map.icon {
	position: absolute;
	width: 32px;
	height: 32px;
	background: url(../img/map.png);
	background-size:32px 32px;

}


.signal.icon {
	position: absolute;
	width: 32px;
	height: 32px;
	background: url(../img/wifi.png);
	background-size:32px 32px;
}

.pin.icon {
	position: absolute;
	width: 32px;
	height: 32px;
	background: url(../img/compass.png);
	background-size:32px 32px;
}


.edit.icon {
  color: #000;
  position: absolute;
  margin-left: 4px;
  margin-top: 7px;
  width: 14px;
  height: 2px;
  border-radius: 1px;
  border: solid 1px currentColor;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.edit.icon:before {
  content: '';
  position: absolute;
  left: -12px;
  top: -1px;
  width: 0px;
  height: 0px;
  border-left: solid 5px transparent;
  border-right: solid 5px currentColor;
  border-top: solid 2px transparent;
  border-bottom: solid 2px transparent;
}

.tv.icon {

	position: absolute;
	width: 32px;
	height: 32px;
	background: url(../img/folder.png);
	background-size:32px 32px;

}


.import.icon {
	position: absolute;
	width: 32px;
	height: 32px;
	background: url(../img/download.png);
	background-size:32px 32px;
}

.keyboard.icon {
	position: absolute;
	width: 32px;
	height: 32px;
	background: url(../img/chat.png);
	background-size:32px 32px;
-moz-transform: scale(-1, 1);
-webkit-transform: scale(-1, 1);
-o-transform: scale(-1, 1);
-ms-transform: scale(-1, 1);
transform: scale(-1, 1);
}



.icon, .icon:before, .icon:after, .icon i, .icon i:before, .icon i:after { 
  transition: all 0.4s ease;
}

@media screen and (max-width: 284px){
	.arrow-left.icon{
		width: 14px;
		height: 14px;
		background-size: 14px 14px;
		left: 1px;
	}
	.arrow-right.icon{
		width: 12px;
		height: 12px;
		background-size: 12px 12px;
		left: 1px;
	}
}
@media screen and (max-width: 568px) and (min-width: 284px) {
	.arrow-left.icon{
		width: 24px;
		height: 24px;
		background-size: 24px 24px;
		left: 6px;
	}
	.arrow-right.icon{
		width: 24px;
		height: 24px;
		background-size: 24px 24px;
		left: 6px;
	}
}

@media screen and (max-height: 650px){
	.arrow-left.icon{
		top: 6px;
		width: 24px;
		height: 24px;
		background-size: 24px 24px;
		left: 6px;
	}
	.arrow-right.icon{
		top: 1px;
		width: 24px;
		height: 24px;
		background-size: 24px 24px;
		left: 6px;
	}
}
