*{
	margin: 0;
	padding: 0;
}

::-webkit-scrollbar{
	display: none;
}

body{
	overflow: scroll;
	font-family: 'Scope One', serif;
}

/*antic wrapcontent*/

.gran{
	width: 100%;
}

#map_form{
	min-height: 150px;
}

#llistat{
	max-height: 300px;
	display:grid;
	grid-template-columns: 1fr 1fr;
	width: 100%;
	overflow: scroll;
}

#noms{
	width:50%;
}
#valors{
	min-width: 50%;
}

.top{
	background-color: #FF6B6B;
}

.iel{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
.el{
	background-size: : 22px;
	background-repeat: no-repeat;
	background-position: center;
}

#list1{
	white-space: nowrap;
}