
/* Globals  -----------------------------*/
body {
  margin: 0;
  color: #353d46;
  overflow: scroll;
  font-family: 'Scope One', serif;
}

h1, h2, h3 {
  color: #FF6B6B;
  margin: 0 0 13px;
  text-align: center;

}


/* get the styles for both icon*/
@import "http://cssicon.space/css/icons.css";
.arrow-left.icon {
  color: #000;
  position: absolute;
  margin-left: 3px;
  margin-top: 10px;
  width: 16px;
  height: 1px;
  background-color: currentColor;
}
.arrow-left.icon:before {
  content: '';
  position: absolute;
  left: 1px;
  top: -5px;
  width: 10px;
  height: 10px;
  border-top: solid 1px currentColor;
  border-right: solid 1px currentColor;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}
.arrow-right.icon {
  color: #000;
  position: absolute;
  margin-left: 2px;
  margin-top: 10px;
  width: 16px;
  height: 1px;
  background-color: currentColor;
}
.arrow-right.icon:before {
  content: '';
  position: absolute;
  right: 1px;
  top: -5px;
  width: 10px;
  height: 10px;
  border-top: solid 1px currentColor;
  border-right: solid 1px currentColor;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.icon, .icon:before, .icon:after, .icon i, .icon i:before, .icon i:after { 
  transition: all 0.4s ease;
}


@media screen and (max-width:319px){
	h1{
		font-size:1.1em;
	}


}

@media screen and (min-width:320px) and (max-width:469px){/*  */
	h1{
		font-size:1.3em;
	}

}

@media screen and (min-width: 470px) and (max-width:740px){
	h1{
		font-size:1.5em;
	}

	
}

@media screen and (min-width: 620px) and (max-width:830px){/*  */
	h1{
		font-size:1.7em;
	}
}

















