*{
	margin: 0px;
}

h1{
	color: #FF6B6B
}

.head{
	display:grid;
	grid-template-columns: 0.1fr 0.9fr;
}
#maintitle{
	text-align: center;
}

.wrapper{
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-rows: 10fr 90fr;
	grid-template-columns: 1fr;

}

.content{
	display: grid;
	grid-template-rows: 97fr 3fr;
}

.five{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows:1fr;
}
.fiveinfocontent{
	overflow-y:scroll;
}

#form{
	display: grid;
	grid-template-rows: 0.8fr 1.2fr;
}

.pure-group{
	border-radius:8px;
}

#list{
	background-color:;
	border-radius: 13px;
	display:grid;
	grid-template-columns: 1fr 1fr;
}

#map_form{
	border-radius:8px;
}
li{
	list-style-type: none;
}

.iel{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.el{
	background-size: 22px;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.2;
}
.el:hover{
	opacity:0.8;
}

.na{
	background-image: url(../img/b.png);
}

.r{
	background-image: url(../img/r.png);
}
.o{
	background-image: url(../img/o.png);
}

.g{
	background-image: url(../img/g.png);
}