*{
	margin: 0;
	padding: 0;
}
::-webkit-scrollbar { 
    display: none; 
}

body{
	min-width: 319px;
	min-height:319px;
	overflow:scroll;
	font-family: 'Scope One', serif;
}

#maintitle{
	text-align:center;
}

.wrapper{
	display:grid;
	grid-template-columns: 0.1fr 4fr .1fr; 
	grid-template-rows: 0.1fr 2fr 0.1fr;
	width: 100vw;
	height: 100vh;
}

.five{
	display:grid;
	grid-template-columns: .5fr .5fr;
	grid-template-rows: 1fr;
}


.fiveinfocontent{
	overflow-y:scroll;
}

#form{
	display: grid;
	grid-template-rows: 0.8fr 1.2fr;
}

.pure-group{
	border-radius:8px;
}

#form{
	background-color:;
}

#list{
	background-color:;
	border-radius: 13px;
	display:grid;
	grid-template-columns: 1fr 1fr;
}

#map_form{
	border-radius:8px;
}
li{
	list-style-type: none;
}

.fivex{
	min-height:100%;
	height:100%;
	overflow:hide;
}

.iel{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.el{
	background-size: 22px;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.2;
}
.el:hover{
	opacity:0.8;
}

.na{
	background-image: url(../img/b.png);
}

.r{
	background-image: url(../img/r.png);
}
.o{
	background-image: url(../img/o.png);
}

.g{
	background-image: url(../img/g.png);
}

@media screen and (min-width: 10px){
	li.nel{
		font-size:0.7em;
		white-space: nowrap;
	}
	h1{
		background-color: ;
	}
}