
/* Globals  -----------------------------*/
body {
  margin: 0;
  color: #353d46;
  overflow: scroll;
  font-family: 'Scope One', serif;
}

h1, h2, h3 {
  color: #FF6B6B;
  margin: 0 0 13px;
  text-align: center;

}



@media screen and (max-width:319px){
	h1{
		font-size:1.1em;
	}


}

@media screen and (min-width:320px) and (max-width:469px){/*  */
	h1{
		font-size:1.3em;
	}

}

@media screen and (min-width: 470px) and (max-width:740px){
	h1{
		font-size:1.5em;
	}

	
}

@media screen and (min-width: 620px) and (max-width:830px){/*  */
	h1{
		font-size:1.7em;
	}
}

















