html,body {/*  */
  width:100%;
  height:100%;
  margin: 0px;
  padding:0px;
  min-width:320px;
  min-height:568px;
  font-family: 'Scope One', serif;
	z-index: 0;
}
.menu {
  -webkit-filter: url("#shadowed-goo");
          filter: url("#shadowed-goo");
}

.menu-item, .menu-open-button {
  background: #000033;
  border-radius: 100%;
  width: 8vw;
  height: 8vw;
  margin: -4vw 0 0 -4vw;
  position: absolute;

  top: 50%;
  left:50%;
  color: white;
  text-align: center;
  line-height: 80px;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  transition: -webkit-transform ease-out 200ms;
  transition: transform ease-out 200ms;
  transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
}



.menu-open {
  display: none;
}

.hamburger {
  width: 1.515vw;
  height: 0.182vw;
  margin-top: 0.061vw;
  background: white;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -0.727vw;
  
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

.hamburger-1 {
  -webkit-transform: translate3d(0, -8px, 0);
          transform: translate3d(0, -8px, 0);
}

.hamburger-2 {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.hamburger-3 {
  -webkit-transform: translate3d(0, 8px, 0);
          transform: translate3d(0, 8px, 0);
}

.menu-open:checked + .menu-open-button .hamburger-1 {
  -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
          transform: translate3d(0, 0, 0) rotate(45deg);
}
.menu-open:checked + .menu-open-button .hamburger-2 {
  -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
          transform: translate3d(0, 0, 0) scale(0.1, 1);
}
.menu-open:checked + .menu-open-button .hamburger-3 {
  -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
          transform: translate3d(0, 0, 0) rotate(-45deg);
}

.menu {
  position: absolute;
  width: 100%;
  height: 100%;
  
  box-sizing: border-box;
  font-size: 20px;
  text-align: left;
}

.menu-item:hover {
  background: white;
  color: #00bcd4;
}
.menu-item:nth-child(3) {
  transition-duration: 180ms;
}
.menu-item:nth-child(4) {
  transition-duration: 180ms;
}
.menu-item:nth-child(5) {
  transition-duration: 180ms;
}
.menu-item:nth-child(6) {
  transition-duration: 180ms;
}

.menu-open-button {
  z-index: 2;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 400ms;
  -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
          transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  cursor: pointer;
}

.menu-open-button:hover {
  -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
          transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.menu-open:checked + .menu-open-button {
  transition-timing-function: linear;
  transition-duration: 200ms;
  -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
          transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.menu-open:checked ~ .menu-item {
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.menu-open:checked ~ .menu-item:nth-child(3) {
  transition-duration: 200ms;
  -webkit-transform: translate3d(-20vw, 0, 0);
          transform: translate3d(-20vw, 0, 0);
}
.menu-open:checked ~ .menu-item:nth-child(4) {
  transition-duration: 200ms;
  -webkit-transform: translate3d(20vw, 0, 0);
          transform: translate3d(20vw, 0, 0);
}

#earth {
  position: absolute;
  bottom: 0;
  top: 50%;
  left: 50%;
  margin: -15vw 0 0 -15vw;
  width: 30vw;
  height: 30vw;
 
  border-radius: 100%;
  box-shadow: inset 16px 0 50px 6px black, inset -3px 0 10px 2px rgba(255, 255, 255, 0.2);
  transition: all 20s ease-out;
  animation: rotate 20s linear infinite;
}

@keyframes rotate {
  0% {
    background-position: 0px;
  }
  20% {
    
    background-position-x: 20%;
  }
  40% {
    
    background-position-x: 40%;
  }
  60% {
    
    background-position-x: 60%;
  }
  80% {
    
    background-position-x: 80%;
  }
  100% {
    
    background-position-x: 100%;
  }
}












