nav#menu-desplegable {
  position: fixed;
  top: 0;
  left: -250px;
  bottom: 0;
  display: block;
  float: left;
  width: 100%;
  max-width: 250px;
  height: 20%;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
nav#menu-desplegable > ul {
  display: block;
  margin: 40px;
  padding: 0;
  list-style: none;
  opacity: 0.5;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
nav#menu-desplegable > ul li {
  padding: 6px 0;
  cursor: pointer;
}
nav#menu-desplegable > ul li:hover {
  color: #59e9df;
}
nav#menu-desplegable > ul li:before {
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  color: #59e9df;
  margin-right: 12px;
  text-align: center;
  font-variant: normal;
  font-size: 0.75em;
  text-transform: none;
  line-height: 1em;
}

/*desplaça mapa quan s'ha clicat a la fletxa (menu-active)*/
body.menu-active nav#menu-desplegable {
  left: 0px;
}
body.menu-active nav#menu-desplegable ul {
  left: 0px;
  opacity: 1;
}

/*la fletxa per mostrar el menu*/

div.embolcall div.polsador-menu {
  position: relative;
  top: 10px;
  left: 10px;
  width: 18px;
  height: 18px;
  background: #dfe5eb;
  cursor: pointer;
  border-radius: 5px;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
div.embolcall div.polsador-menu:before {
  content: '\27A4';
  display: inline-block;
  width: 18px;
  height: 18px;
  color: black;
  font-style: normal;
  font-size: 1.2em;
  font-weight: normal;
  font-variant: normal;
  text-align: center;
  text-transform: none;
  line-height: 18px;
}
div.embolcall div.polsador-menu:hover {
  background: #556270;
}
div.embolcall div.polsador-menu:hover:before {
  color: #fcfeff;
}

/*desplaçar el mapa i tot quan el neu està actiu*/
body.menu-active div.cos{
  left: 250px;
  border-radius: 7px 0 0 7px;
}
body.menu-active div.cos{
  position:fixed;
  left: 250px;
}

/*per treure els links i la decoració i tot*/
a {
  text-decoration: none;
}
a:link, a:visited {
    color: #FF6B6B;
}
a:hover {
    color: red;
}



/* get the styles for both icon
@import "http://cssicon.space/css/icons.css";
.arrow-left.icon {
  color: #000;
  position: absolute;
  margin-left: 3px;
  margin-top: 10px;
  width: 16px;
  height: 1px;
  background-color: currentColor;
}
.arrow-left.icon:before {
  content: '';
  position: absolute;
  left: 1px;
  top: -5px;
  width: 10px;
  height: 10px;
  border-top: solid 1px currentColor;
  border-right: solid 1px currentColor;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}
.arrow-right.icon {
  color: #000;
  position: absolute;
  margin-left: 2px;
  margin-top: 10px;
  width: 16px;
  height: 1px;
  background-color: currentColor;
}
.arrow-right.icon:before {
  content: '';
  position: absolute;
  right: 1px;
  top: -5px;
  width: 10px;
  height: 10px;
  border-top: solid 1px currentColor;
  border-right: solid 1px currentColor;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}*/

.icon, .icon:before, .icon:after, .icon i, .icon i:before, .icon i:after { 
  transition: all 0.4s ease;
}


