*{
	margin: 0;
	padding: 0;
}
::-webkit-scrollbar { 
    display: none; 
}

body{
	min-width: 319px;
	min-height:319px;
	overflow:scroll;
	font-family: 'Scope One', serif;
}

h1{
	color:#FF6B6B;
}

#titol-principal{
	text-align:center;
}

.embolcall{
	display:grid;
	grid-template-columns: 1fr;
	grid-template-rows: 0.05fr 0.95fr;
	width: 100vw;
	height: 100vh;
}
.five{
	display:grid;
	grid-template-rows: 1fr 1fr;
}

.five2x {
	height:100%;
	border-radius: 10px;
}

#formzone{
	display: grid;
	grid-template-rows: 1fr;
}

.fiveinfo1{
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr;
}

.top{
	background-color: #FF6B6B;
}
#dadesEntitat{
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr;
}
#ubicacio{
	display: grid;

	grid-template-rows:1fr 2fr;
}
#ubicacio .recipientinputs{
	display: grid;
	grid-template-rows: 1fr 1fr;
}
#plataformes{
	display:grid;
	grid-template-rows: 0.2fr 0.8fr;
	
}
.urls{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.caixaUrl{
	display: grid;
	grid-template-rows: 1fr 1fr;
	text-align: center;
}
#observacions{
	display: grid;
	grid-auto-flow: 1fr 2fr;
}


@media screen and (max-width: 284px){
	#maintitle{
		font-size: 1em;
	}
}
@media screen and (max-width: 568px) and (min-width: 284px) {
	#maintitle{
		font-size: 1.2em;
	}
}
@media screen and (max-width: 852px) and (min-width: 568px) {
	#maintitle{
		font-size: 1.4em;
	}
}
@media screen and (max-width: 1136px) and (min-width: 852px) {
	#maintitle{
		font-size: 1.7em;
	}
}

