*{
	margin: 0;
	padding: 0;
}
::-webkit-scrollbar { 
    display: none; 
}

body{
	min-width: 319px;
	min-height:319px;
	overflow:scroll;
	font-family: 'Scope One', serif;
}

/* titol */
h1{
	color:#FF6B6B;
}

#titol-principal{
	text-align:center;
}


.embolcall{
	width: 100vw;
	height: 100vh;
}



.gran{
    display: block;
    width: calc(100vw*0.9);
    height: calc(100vh*0.9);
    left: calc(100vw*0.06);
    position: absolute;
    top: calc(100vh*0.05);
}

.five2x {
	height:100%;
	border-radius: 10px;
}

#fiveinfo1{
	min-width: 0;
	background-color:#f3f3f3;
	max-height: 100%;
	display: none;
}

.fiveinfocontent{
	text-align:center;
	border-radius: 10px;
	overflow-y:scroll;
	max-height:206px;
	min-width: 0px;
	min-height:0px;
	display:grid;
	grid-template-columns: 1fr 1fr;
}

#radios{
	background-color:#ffe4d3;
	height:100%;
	max-height: 100%;
}

ul{
	list-style-type: none;	
	white-space: nowrap
}
#others.fiveinfocontent{
	grid-template-columns: 1fr;
}

#pinmap{
	top: 23px;
}

.pin.icon {
  color: #000;
  position: absolute;
  margin-left: 4px;
  margin-top: 2px;
  width: 12px;
  height: 12px;
  border: solid 1px currentColor;
  border-radius: 7px 7px 7px 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.pin.icon:before {
  content: '';
  position: absolute;
  left: 3px;
  top: 3px;
  width: 4px;
  height: 4px;
  border: solid 1px currentColor;
  border-radius: 3px;
}

/* get the styles for both icon*/
@import "http://cssicon.space/css/icons.css";
.arrow-left.icon {
  color: #000;
  position: absolute;
  margin-left: 3px;
  margin-top: 10px;
  width: 16px;
  height: 1px;
  background-color: currentColor;
}
.arrow-left.icon:before {
  content: '';
  position: absolute;
  left: 1px;
  top: -5px;
  width: 10px;
  height: 10px;
  border-top: solid 1px currentColor;
  border-right: solid 1px currentColor;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}
.arrow-right.icon {
  color: #000;
  position: absolute;
  margin-left: 2px;
  margin-top: 10px;
  width: 16px;
  height: 1px;
  background-color: currentColor;
}
.arrow-right.icon:before {
  content: '';
  position: absolute;
  right: 1px;
  top: -5px;
  width: 10px;
  height: 10px;
  border-top: solid 1px currentColor;
  border-right: solid 1px currentColor;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.icon, .icon:before, .icon:after, .icon i, .icon i:before, .icon i:after { 
  transition: all 0.4s ease;
}




@media screen and (max-width: 284px){
	#titol-principal{
		font-size: 0.7em;
	}
}
@media screen and (max-width: 568px) and (min-width: 284px) {
	#titol-principal{
		font-size: 0.8em;
	}
}
@media screen and (max-width: 852px) and (min-width: 568px) {
	#titol-principal{
		font-size: 1.2em;
	}
}
@media screen and (max-width: 1136px) and (min-width: 852px) {
	#titol-principal{
		font-size: 1.4em;
	}
}

